[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==18.6b4"
autopep8 = "*"
isort = "*"
pylint = "*"
flake8 = "*"
nbconvert = "*"
jupyter = "*"


[packages]
numpy = "*"
pandas = "*"
requests = "*"
scipy = "*"
scikit-learn = "*"
jupyter = "*"
pytest = "*"
pyyaml = "*"
influxdb = "*"
xgboost = "*"
statsmodels = "*"
matplotlib = "*"
seaborn = "*"
hyperopt = "*"
hyperas = "*"
wrapt = "*"
setuptools = "*"

[requires]
python_version = "3.7.5"
